.allTheThings{
    width: 100%;
    align-items: center;
}

.cart{
    padding-top: 20px;
    min-height: 79vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.label{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

.total-label{
    margin-right: 12px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

.cart-item{
    display: flex;
    flex-direction: row;
    border: 4px solid #FDF0F0;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    flex-wrap: wrap;
    margin: 10px;
}

.cart-picture, .container, .deleteItem{
    margin-left: 6%;
}

.cart-name, .container, .deleteItem{
    margin-top: 10px;
}

.cart-picture{
    height: 125px;
    display: flex;
    align-items: center;
}

.cart-name{
    font-family: "Dancing Script", cursive;
    font-size: 23px;
    width: 115px;
    text-align: center;
}

.cart-price, .cart-quantity, .item-total, .cart-tax, .cart-total{
    font-family: "Monsterrat";
    font-size: 21px;
}

.update-quantity{
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.update-input-and-button{
    align-items: space-between;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cart-checkout{
    float: right;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.total-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}